.course{
    width: 1000px;
    height: 1000px;
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;
    }
}

